*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Poppins;
    overflow: hidden;
    padding: 0;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.woff2) format('woff2'),
        url(../fonts/Poppins-Black.woff) format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.woff2) format('woff2'),
        url(../fonts/Poppins-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.woff2) format('woff2'),
        url(../fonts/Poppins-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraLight.woff2) format('woff2'),
        url(../fonts/Poppins-ExtraLight.wof) format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraLightItalic.woff2) format('woff2'),
        url(../fonts/Poppins-ExtraLightItalic.woff) format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Light.woff2) format('woff2'),
        url(../fonts/Poppins-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBoldItalic.woff2) format('woff2'),
        url(../fonts/Poppins-ExtraBoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-BoldItalic.woff2) format('woff2'),
        url(../fonts/Poppins-BoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-LightItalic.woff2) format('woff2'),
        url(../fonts/Poppins-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.woff2) format('woff2'),
        url(../fonts/Poppins-ExtraBold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Italic.woff2) format('woff2'),
        url(../fonts/Poppins-Italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.woff2) format('woff2'),
        url(../fonts/Poppins-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ThinItalic.woff2) format('woff2'),
        url(../fonts/Poppins-ThinItalic.woff) format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-MediumItalic.woff2) format('woff2'),
        url(../fonts/Poppins-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.woff2) format('woff2'),
        url(../fonts/Poppins-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBoldItalic.woff2) format('woff2'),
        url(../fonts/Poppins-SemiBoldItalic.woff) format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.woff2) format('woff2'),
        url(../fonts/Poppins-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Thin.woff2) format('woff2'),
        url(../fonts/Poppins-Thin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


#splash-screen {
    position: relative;
    width: 100%;
    height: 300px;
}
#splash-screen img.image1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -200%);
    animation: fallToCenter 1s ease-out forwards;
}
@keyframes fallToCenter {
    0% {
      transform: translate(-50%, -200%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
}

#splash-screen img.image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 1;
    clip-path: inset(0 100% 0 0);
    animation: clipReveal 1.5s 1s ease-out forwards, fadeIn 1.5s 1s ease-out forwards;
}
@keyframes clipReveal {
    0% {
      clip-path: inset(0 100% 0 0); 
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
}




#onboard {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    /* background-color: #f5f7f9; */
    overflow: hidden;
}
#onboard div.carousel-container {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
#onboard div.carousel-container div.screen {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0;
    padding: 60px 20px 20px 20px;
    background: url(../assets/global-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
}
#onboard div.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 300px;
}
#onboard div.top h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 50px;
    margin-bottom: 8px;
}
#onboard div.top h1 b {
    color: #0a3d74;
    font-size: 40px;
}
#onboard div.top p {
    font-size: 16px;
    color: #747474;
}
#onboard div.bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 50px;
}
#onboard div.bottom div.indicator-container {
    display: flex;
    gap: 14px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#onboard div.bottom div.indicator-container div.indicator {
    width: 12px;
    height: 12px;
    outline: 2px solid #0a3d74;
    background-color:white;
    outline-offset: 1px;
    border-radius: 50%;
}
#onboard div.bottom div.next {
    background-color: #142670;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    right: 0;
}
#onboard div.bottom div.next img {
    display: block;
}

#onboard form {
    width: 100%;
}
#onboard h6 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 8px;
}
#onboard h6 a {
    text-decoration: none;
}

input[type="tel"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    caret-color: transparent;
}
a#submit {
    margin-top: 20px;
    width: 40%;
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    margin: 20px auto 0;
    font-size: 16px;
    background-color: #0a3d74;
    color: white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    display: block;
}
.iti {
    width: 100%;
    margin-top: 8px;
    display: block;
    font-size: 18px;
}
#phone {
    outline: none;
    font-size: 18px;
    letter-spacing: 0.08rem;
}
#phone:focus {
    outline: 3px solid #0a3d74;
}












#otp-verification {
    background-color: #f5f7f9;
    height: 100%;
    background: url(../assets/global-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
    padding: 60px 20px 20px 20px;
    width: 100%;
}
#otp-verification div.otp-container {
  padding-top: 300px;
  border-radius: 10px;
}
#otp-verification div.otp-container h2 {
    font-weight: 600;
    color: #0a3d74;
}
#otp-verification div.otp-container div.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
#otp-verification div.otp-container div.otp-inputs input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#otp-verification div.otp-container button#otp-submit {
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #0a3d74;
  color: white;
  cursor: pointer;
  display: block;
  width: max-content;
  margin: 25px auto 0;
  text-decoration: none;
}







#signup {
    height: 100%;
    width: 100%;
    background: url(../assets/bbg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#signup div.signup-container {
    padding: 40px 20px 20px 20px;
}
#signup div.signup-container div.logoContainer {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}
#signup div.signup-container div.logoContainer img {
    width: 100%;
    display: block;
}
#signup div.signup-container h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
#signup div.signup-container input {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid #0a3d74;
}
#signup div.signup-container input::placeholder {
    color: #bebebe;
    font-weight: bold;
}
#signup div.signup-container p {
    display: flex;
    width: max-content;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Poppins;
}
#signup div.signup-container input#termsCheck {
    width: 15px;
    height: 15px;
    padding: 0;
    margin-bottom: 0;
    margin-right: 4px;
    display: inline-block;
}
#signup div.signup-container a#terms {
    margin-left: 4px;
    text-decoration: none;
}
#signup div.signup-container button#create {
    width: max-content;
    color: white;
    background-color: #0a3d74;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: none;
    border: none;
}






#profileSetup {
    height: 100%;
    width: 100%;
    background: url(../assets/pfbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20px 20px 20px;
}
#profileSetup div.profileSetup-container {
    
}
#profileSetup div.profileSetup-container div.uploadImage {
    width: 34%;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
    margin-bottom: 10px;
}

#profileSetup div.profileSetup-container div.uploadImage img {
    display: block;
    width: 127px;
    height: 127px;
    object-fit: cover;
    border-radius: 50%; /* circle shape */
}
#profileSetup div.profileSetup-container div.uploadImage div.camContainer {
    background-color: white;
    position: absolute;
    bottom: 18%;
    left: 80%;
    width: 30px;
    height: 30px; /* Add height to match width */
    border-radius: 50%; /* Optional: Make it a circle */
    box-shadow: 0 0 8px #bebebe;
    overflow: hidden; /* Ensure the image doesn't overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileSetup div.profileSetup-container div.uploadImage div.camContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the box nicely */
    padding: 4px; /* Remove padding */
}

#profileSetup div.profileSetup-container input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid #0a3d74;
}
#profileSetup div.profileSetup-container input::placeholder {
    color: #bebebe;
    font-weight: bold;
}
#profileSetup div.profileSetup-container input#profile-submit {
    width: max-content;
    color: white;
    background-color: #0a3d74;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}